<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/addPage.css">
    
  </head>

  <body>

    <div class="page-container">
      <div class="content-wrap">
          <div class="row">
              <%- include('navbar.ejs'); %>
          </div>
          <div class="row">
              <div class="col-2">
                  <%- include('sidebar.ejs'); %>
              </div>
              <div class="col-8">
                <%- include('pageModals.ejs'); %>
                <input type="text" class="form-control" id="pageTitle" value=<%= title[0].page_title %>>     
                <button class="btn btn-primary" onclick="saveTitle()">Save Title</button>
                <div id="pageContent">
                  
                  <% for (var i = 0; i < content.length; i++){ %>

                    <div class="buttonOverlay" id = 'block<%- content[i].block_id %>buttons'>
                      <a onclick="editBlock('hero','block<%- content[i].block_id %>');"><i class="fa fa-edit"></i></button></a>  
                      <a onclick="deleteBlock('block<%- content[i].block_id %>');"><i class="fa fa-trash"></i></button></a>  
                    </div>
                    <div id=block<%- content[i].block_id %>> <%- content[i].content %> </div>

                    
                  <%}%>
                </div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#addHero" onclick="document.getElementById('hero_mode').innerHTML='add';">Primary Button</button>
              </div>
            </div>
      </div>
  </div>

  
</body>
 
<script>

  let mode = "add";
  let editId = -1;

    async function updateAndSave(contentTarget,formContent,type){
        console.log(mode);
        
        switch (mode){
          case 'add':
              
              let content = document.querySelector(`#${contentTarget}`).cloneNode(true);
              await addBlock(content,formContent,contentTarget);
              
            break;

          case 'edit':
            let newContent = document.getElementById(contentTarget).innerHTML;
            console.log(editId);
            document.getElementById(`block${editId}`).innerHTML = newContent;

            await updateBlock(newContent,editId);

            clearFormPre(formContent, contentTarget);
            mode = 'add';
            break;

        }
        
    }

    async function updateBlock(content, editId){
      
        fetch('<%= url %>:<%= port %>/api/editBlock', {
                method:'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: 'include',
                body:JSON.stringify({blockId:editId, pageId:<%= pageId %>, content:content,order:0})
              });
    }

    async function addBlock(content,formContent,contentTarget){

      const res = await fetch('<%= url %>:<%= port %>/api/nextBlockId', {
                method:'GET',
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: 'include'
            });
      let result = await res.json();

      console.log( content);
      content.querySelector("#mainHeading").id += result.block_id;
      content.querySelector("#subHeading").id +=  result.block_id;
      content.querySelector("#callToAction").id += result.block_id;

      document.getElementById("pageContent").innerHTML += `
            <div class="buttonOverlay" id = 'block${result.block_id}buttons'>
              <a onclick="editBlock('hero','block${result.block_id}');"><i class="fa fa-edit"></i></button></a> 
              <a onclick="deleteBlock('block${result.block_id}');"><i class="fa fa-trash"></i></button></a>  
            </div>
            <div id="block${result.block_id}">` + content.innerHTML + `</div>`;

        
        console.log(content);
        fetch('<%= url %>:<%= port %>/api/addBlock', {
                method:'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: 'include',
                body:JSON.stringify({block_id:result.block_id, page_id:<%= pageId %>, content:content.innerHTML,order:0})
              });
              
              clearFormPre(formContent,contentTarget);
    }

    function deleteBlock(blockId){
      const deleteId = blockId.substring(5);
      console.log(deleteId);
      fetch('<%- url %>:<%- port %>/api/deleteBlock/', {
        method:'POST',
        headers: {
                    "Content-Type": "application/json"
                },
        credentials:'include',
        body:JSON.stringify({block_id:deleteId, page_id: <%= pageId %>})
      })
      .then(res => res.json());

      document.getElementById(blockId).remove();
      document.getElementById(blockId + 'buttons').remove();
    }

    function editBlock(editType,block){
      mode = 'edit';
      editId = block.substring(5);

      switch(editType){
        case 'hero':
        console.log(document.querySelector(`#mainHeading${editId}`).innerHTML);
        document.querySelector("#pageHeading").value =  document.querySelector(`#mainHeading${editId}`).innerHTML;
        document.querySelector("#pageSubHeading").value =  document.querySelector(`#subHeading${editId}`).innerHTML;
        document.querySelector("#ctaButtonText").value = document.querySelector(`#callToAction${editId}`).innerHTML;

          $("#addHero").modal();
          break;
      }
    }

    function saveTitle(){

        let title = document.getElementById("pageTitle").value;

        fetch('<%= url %>:<%= port %>/api/editPageTitle', {
                method:'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: 'include',
                body:JSON.stringify({page_id:<%= pageId %>, title:title})
                
            });
    }

    function clearForm(formContent,previewContent){
      document.getElementById(formContent).reset();
      for (let i = 0; i < previewContent.length; i++){
        document.getElementById(previewContent[i]).innerHTML = "";
      }

      mode = 'add';
      
    }

    function updateText(target,textIn){
        document.getElementById(target).innerText = textIn
    }

</script>


</html>