<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/editCourse.css">
    
  </head>

  <body>

    <div class="page-container">
      <div class="content-wrap">
          <div class="row">
              <%- include('../navbar.ejs'); %>
          </div>
          <div class="row">
              <div class="col-2">
                  <%- include('../sidebar.ejs'); %>
              </div>
              <div class="col-10">
                <input type="text" class="form-control" id="courseTitle" value="">     
                <button class="btn btn-primary" onclick="saveTitle()">Save Title</button>
                <p id="status"></p>
                <div id="pageContent">
                  <div class="tab">
                    <button class="tablinks" onclick="openSection(event,'curriculum','tabcontent','tablinks')">Curriculum</button>
                    <button class="tablinks" onclick="openSection(event,'pricing','tabcontent','tablinks')">Pricing</button>
                    <button class="tablinks" onclick="openSection(event,'landing', 'tabcontent','tablinks')">Landing Page</button>
                  </div>

                  

                  <div id="curriculum" class="tabcontent">
                    <div class="row">
                      <div class="col-6">
                      <nav id="courseSidebar">
                          <ul id="moduleList" class="list-unstyled modComponents"> 
                            <% let modules = content.modules%>
                            <% for (let i = 0; i < modules.length; i++) {%>
                              <% let module_title = modules[i].module_title%>
                              <li>
                                <a id = "module-<%=i%>" href="#module<%=i%>Lessons" data-toggle="collapse" aria-expanded="false" class="moddropdown-toggle"><%=module_title%></a>
                                <ul class = "collapse list-unstyled" id="module<%=i%>Lessons">
                                  <%let lessons = modules[i].lessons; %>
                                  
                                  <div id = "lessonListContentModule<%=i%>">
                                    <% for (let j = 0; j < lessons.length; j++) {%>
                                      <li onclick="showLesson(event, 'module<%=i%>-lesson-<%=j%>')">
                                        <a class="modsidebarlink modindentitem"><%=lessons[j].lesson_title%></a>
                                      </li>
                                    <%}%>
                                  </div>
                                  

                                  <div id="newLesson-<%=i%>">

                                  </div>
                                  <li><button class="button btn-secondary" onclick="promptLessonTitle('<%=i%>')">Add Lesson</button></li>
                                </ul>
                              </li>
                              <%}%>
                          </ul>
                      </nav>

                      <div id="newModule">

                      </div>
                      

                      <button class="button btn-primary" onclick="promptModuleTitle()">Add Module</button>
                    </div>

                    <div class="col-6" id="lessonContainer">
                    <% for (i = 0; i < modules.length; i++) {%>
                      <%let lessons = modules[i].lessons; %>
                    <% for (j = 0; j < lessons.length; j++) {%>
                      <%let content = lessons[j].content %>

                      
                        <div id="module<%=i%>-lesson-<%=j%>" style="display:none;" class="lessons">
                          <h2><%- lessons[j].lesson_title%></h2>
                      <% for (let k = 0; k < content.length; k++) {%>
                            
                            <%-content[k].content%>
                    <%}%>
                    <div id="newBlock">
                      <p>Add a new block of content</p>
                      <button type="button btn-secondary" class="lessonContentButton" onclick="openSection(event, 'newVideoLesson<%=j%>', 'lessonBlock', 'lessonContentButton')">Video</button>
                      <button type="button btn-secondary" class="lessonContentButton" onclick="openSection(event, 'newRichTextLesson<%=j%>', 'lessonBlock', 'lessonContentButton')">Rich Text</button>
                      <div id="newVideoLesson<%=j%>" style="display:none;" class="lessonBlock">
                        <h2>Upload a video</h2>
                        <input type="file" accept="video/*" id="videoLesson<%=j%>Input" onchange="readVideo(event,'<%=j%>')" style="display:block">
                        <video controls id="video-tagLesson<%=j%>" width="100%" height="50%">

                        </video>

                      </div>

                      <div id="newRichTextLesson<%=j%>" style="display:none;" class="lessonBlock">
                        <h2>Here is the rich text content</h2>
                      </div>
                    </div>
                    </div>
                
                    <%}%>
                    <%}%>
                  </div>
                  </div>
                  </div>

                  <div id="pricing" class="tabcontent" style="display:none;">
                    <h3>Pricing</h3>
                  </div>

                  <div id="landing" class="tabcontent" style="display:none">
                    <h3>Landing</h3>
                  </div>
                </div>
                
              </div>
            </div>
      </div>
  </div>

  
</body>
 
<script>

  async function uploadVideo(id){

  }

  async function readVideo(event,id){
    console.log(event.target.files[0]);
    let file = event.target.files[0];
    let blobURL = URL.createObjectURL(file);
    document.getElementById("video-tagLesson" + id).src = blobURL;

    console.log(await file.arrayBuffer());
    
    const fd = new FormData();
    fd.append('video',file);

    fetch('<%= url %>:<%= port %>/api/uploadVideo', {
      method:'POST',
      credentials: 'include',
      body:fd
    });
  }

  function promptLessonTitle(modId){
    document.getElementById('newLesson-' + modId).innerHTML += `<input id="newLessonName" type="text" placeholder="Input lesson name"></input>
    <button class="button btn-secondary" onclick="addLesson('${modId}')">Save</button>`
    
  }

  async function addLesson(modId){
    let lessonTitle = document.getElementById('newLessonName').value
    let res = await fetch('<%= url %>:<%= port %>/api/addLesson', {
      method:'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      credentials: 'include',
      body:JSON.stringify({courseId: '<%=courseId%>',lessonTitle:lessonTitle, moduleId:modId})
    });

    let lessonId = await res.json();
    document.getElementById('newLesson-' + modId).innerHTML = "";
    document.getElementById("lessonListContentModule" + modId).innerHTML += `
      <li onclick="showLesson(event, 'module${modId}-lesson-${lessonId.id}')">
        <a class="modsidebarlink modindentitem">${lessonTitle}</a>
      </li>
    `

    document.getElementById('lessonContainer').innerHTML += `
              <div id="module${modId}-lesson-${lessonId.id}" style="display:none;" class="lessons">
                <h2>Test</h2>
              </div>
            `
    console.log(lessonId.id);
  }

  function promptModuleTitle(){
    document.getElementById('newModule').innerHTML += `<input id = "newModuleName" type="text" placeholder="Input module name"></input> 
    <button class="button btn-secondary" onclick="addModule()">Save</button>`
  }
  
  async function addModule(){
    let moduleTitle = document.getElementById('newModuleName').value
    let res = await fetch('<%= url %>:<%= port %>/api/addModule', {
                method:'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: 'include',
                body:JSON.stringify({courseId:'<%=courseId%>', moduleTitle:moduleTitle})
            });
            
            let modId = await res.json().id;
            
            document.getElementById('newModule').innerHTML = "";
            document.getElementById("moduleList").innerHTML += `
             <li>
                <a id="module${modId}" class="moddropdown-toggle collapsed" href="#module${modId}Lessons" data-toggle="collapse" aria-expanded="false">${moduleTitle}</a>
                <ul id="module${modId}Lessons" class="list-unstyled collapse">
                  <li onclick="showLesson(event,'module-${modId}-lesson-0')">
                    <a class="modsidebarlink modindentitem">Lesson1</a>  
                  </li>
                  <li><button class="button btn-secondary">Add Lessson</button> </li>  
                </ul>
              </li>
            `

            document.getElementById('lessonContainer').innerHTML += `
              <div id="module-${modId}-lesson-0" style="display:none;" class="lessons">
                <h2>Test</h2>
              </div>
            `
  }

  function showLesson(event,lesson){
    let i, tabContent, tabLinks;
    lessonContent = document.getElementsByClassName("lessons");

    for (i = 0; i < lessonContent.length; i++){
      lessonContent[i].style.display = "none";
    }
    
    document.getElementById(lesson).style.display = "block";
  }


  function openSection(event, page, contentClass, tabClass){
    let i, tabContent, tabLinks;
    tabContent = document.getElementsByClassName(contentClass);

    for (i = 0; i < tabContent.length; i++){
      tabContent[i].style.display = "none";
    }

    tabLinks = document.getElementsByClassName(tabClass);
    for (i = 0; i < tabLinks.length; i++){
      tabLinks[i].className = tabLinks[i].className.replace(" active", "");
    }

    document.getElementById(page).style.display = "block";
    event.currentTarget.className += " active";
  }

</script>


</html>