<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <% if (isAuth){%>
            <%- include('navbarUserAuth.ejs'); %>
        <%}else{%>
            <%- include('navbarUserUnauth.ejs'); %>
        <%}%>

            
        <div id="hero">
            <div id="hero-text">
                <h1 id="hero-header">Learn Computer Science the Right Way</h1>
                <p>Check out our computer programming courses and start learning today!</p>
                <button class="mainButton" id="viewCourseButton">View Courses</button>
            </div>
        </div>

        <div id="courseContainer">
            <% for (var i = 0; i < courseData.length; i++){ %>
                <div class="courseCard">
                    <a href="/courses/<%=courseData[i].course_path%>">
                    <img class="courseThumbnail" src="<%=courseData[i].thumbnail%>"/>
                    <h3><%-courseData[i].course_title%></h3>
                    <p><%-courseData[i].courseDesc%></p>
                </a>
                </div>
                
            <%}%>
            
        </div>
        
    </body>

</html>