<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <% if (isAuth){%>
            <%- include('navbarUserAuth.ejs'); %>
        <%}else{%>
            <%- include('navbarUserUnauth.ejs'); %>
        <%}%>

        <div id="hero">
            <div id="hero-text">
                <h1 id="hero-header">Articles on computer science and beyond</h1>
                <p>Learn more about your favorite topics!</p>
            </div>
        </div>

        <div id="courseContainer">
            <% for (var i = 0; i < postData.length; i++){ %>
                <div class="courseCard">
                    <a href="/viewPost/<%=postData[i]._id%>">
                    <img class="courseThumbnail" src=""/>
                    <h3><%-postData[i].article_title%></h3>
                    <p><%-postData[i].date_created%></p>
                </a>
                </div>
                
            <%}%>
            
        </div>

    </body>
</html>