<a id = "module-<%=modId%>" href="#module<%=modId%>Lessons" data-toggle="collapse" aria-expanded="false" class="moddropdown-toggle" style="display:inline"><%=module_title%></a>
<a style="display:inline" href="#" onclick="promptTitle('module-<%=modId%>','newModTitleInput<%=modId%>','<%=module_title%>','updateModTitle(\'<%=modId%>\',\'newModTitleInput<%=modId%>\')')"><i class="fa fa-edit"></i></a>
<a style="display:inline" href="#" onclick="deleteModule('<%=modId%>')"><i class="fa fa-trash"></i></a>